<div class="container mt-5">

    <div class="text-center mb-5">
    <h2 class="text-warning"> <i class="fab fa-ideal text-warning"></i> Grouping Deals</h2>
    </div>

    <div class="text-center mt-5 p-4">
        <%= link_to "Sign In", sign_in_path, class: 'btn  btn-success w-100 mb-5' %>
        <%= link_to "Sign Up", sign_up_path, class: 'btn btn-primary w-100' %>
    </div>
</div>