<div class="mt-5 container">

    <div class="text-center title">
    <h1 class="text"> <i class="fab fa-ideal"></i> </h1>
    <h1>Grouping Deals</h1>
    </div>

    <div class="text-center btons p-4">
        <%= link_to "Sign In", sign_in_path, class: 'btn  btn-success w-100 mb-5' %>
        <%= link_to "Sign Up", sign_up_path, class: 'btn btn-primary w-100' %>
    </div>
</div>