<div class="container app mb-5">
    <div class="text-center mb-5 mt-5 text-white h1">
        <%= link_to user_path(current_user) do %>
            <i class="fas fa-arrow-left"></i>
        <% end %>
        <h3 class="username"><%= current_user.name.capitalize %>'s Deals</h3>
    </div>

    <div>
        <p>The Total Cost</p>
        <% if @deal.present? %>
        <p class="price">$<%= @deals.sum(:amount) %></p>
        <% end  %>
    </div>
    <div class="">
    </div>
    <div class="creating ">
        <%= link_to new_deal_path, class: 'btn btn-primary' do %> <h3>
            <i class="fas fa-plus"></i>Add Deal </h3>
        <% end %>
    </div>
</div>